body {
  width: 100vw;
  height: 100vh;
  margin: 0 !important;
  overflow-y: auto;
  overflow-x: hidden;
  background: purple;
  background: linear-gradient(purple, #ffff1f);
  background-size: 100vw 100vh;
  font-family: Arial, sans-serif; }
  body > div#container {
    width: 60%;
    min-width: 800px;
    min-height: calc(100vh - 20px);
    background: radial-gradient(white, transparent);
    background-position-y: -100px;
    background-size: cover;
    text-align: center;
    border: none;
    margin: 0 auto;
    padding: 10px; }
    body > div#container h1 {
      color: #ffff1f; }
    body > div#container #game {
      margin: 0 auto;
      display: inline-block; }
